name: Build query planner

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ "ubuntu-latest", "windows-latest" ]
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: vcpkg install abseil cgal simdjson
    - name: Configure CMake
      run: >
        cmake
        -DCMAKE_TOOLCHAIN_FILE=${VCPKG_INSTALLATION_ROOT}/scripts/buildsystems/vcpkg.cmake
        -DCMAKE_CXX_COMPILER=clang++
        -DCMAKE_C_COMPILER=clang
        -DCMAKE_BUILD_TYPE=Release
        -B ${{ github.workspace }}/build
        -S ${{ github.workspace }}
    - name: Build
      run: cmake --build ${{ github.workspace }}/build --config Release
